    body{font-family: 'Oswald', sans-serif;margin: 0;}
    .clear{overflow:hidden;}
      .body{width:90%;margin:10px auto;background-color:#FFF;}  
     .about{height:170px;width:50%;}
     .about h1{border-left:10px solid green;padding-left:5px;font-size:50px;}
     .marking-color{color:green}
     .color1{color:#FF033E;}
     a{text-decoration:none;}
     .raju_pic img{width:400px;padding:0px 0px 40px 0px;}
     .raju_pic{float:right;width:,20%;margin:0px 0px 0px 50px}
     